.programName{
  font-size: 1.2em;
  font-weight: bold;
}

.programs{
  margin-top:20px;
}

.recordMid{
  margin: 0 auto;
  height:350px;
  background-color: lightgrey;
  width:60%;
  margin-top: 15%;
  padding:60px;
  border: 1px solid grey;
}

.login{
  margin: 0 auto;
  height:550px;
  background-color: lightgrey;
  width:50%;
  margin-top: 7%;
  padding:60px;
  border: 1px solid grey;
}

.card-heading{
  text-align: center;
  margin-top: 0;
}

.error-message{
  text-align: center;
  color:red;
}

.display-message{
  text-align: center;
  color:green;
  font-family: Helvetica;
  font-size: 14px;
}
