.programName{
  font-size: 1.2em;
  font-weight: bold;
}

.programs{
  margin-top:20px;
}

.recordMid{
  margin: 0 auto;
  height:400px;
  background-color: lightgrey;
  width:60%;
  margin-top: 8%;
  padding:60px;
  border: 1px solid grey;
}

.login{
  margin: 0 auto;
  height:550px;
  background-color: lightgrey;
  width:50%;
  margin-top: 7%;
  padding:60px;
  border: 1px solid grey;
}

.card-heading{
  text-align: center;
  margin-top: 0;
}

.error-message{
  text-align: center;
  color:red;
  margin-left: 0;
}

.display-message{
  text-align: center;
  color:green;
  margin-left: 0;
  font-family: Helvetica;
  font-size: 1.2em;
}

.programsName{
  text-align: center;
  font-family: Helvetica;
  color: #5c6bc0;
}

.containerInfo{
  width: 70%;
  margin: 0 auto;
  height: 500px;
  background-color: lightgrey;
  margin-top: 10%;
  padding:60px;
  border: 1px solid grey;

}

.programName{
  text-align: center;
  color: #5c6bc0;
  margin-top: 0;
  font-size: 27px;
}

.programType{
  margin-top: 30px;
  font-size: 23px;
  text-align: center;
  color: #4d4d4d;

}

.getData{
  width: 50%;
  float: left;
}

.resultData{
  width: 50%;
  float: right;
}

p {
  margin: 0em;
  text-align: left;
  margin-left: 35%;
}
